<div class="col-12">
    <div class="row">

        <div class="col-12 col-md-3 col-sm-4 mt-5">
            <div class="card border col-12 col-sm-12 col-md-12 mx-auto p-1 h-75">
                <h4>Eventos</h4> 
                <div class="d-flex justify-content-end" (click)="openModal({})">
                    <button class="btn btn-sm btn-primary"><i class="fas fa-plus ms-2"></i></button>
                </div>
                <ul class="list-group px-1 overflow-y-auto " id="mydraggable" >    
                    @for(event of events; track event.idEvent){

                        <li class="list-group-item my-1 ec-event item-class ec-draggable"  [attr.data-event]="event | json">
                            <div class="ec-event-body">
                                <!-- <small class="text-white">{{orden.title}}</small> -->
                                {{event.title}}
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9 col-sm-8">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>


