@if(mostrarInfo){
        <h2 mat-dialog-title>{{info.title | uppercase}}</h2>
        
        <mat-dialog-content class="mat-typography p-3">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" >Actualizar</button>
            </div>
            <div class="col-12 p-3">
                <div>
                    <span>{{info.description}}</span>
                </div>
            </div>
        </mat-dialog-content>
    

}@else {

<h2 mat-dialog-title>Nueva tarea</h2>
<mat-dialog-content>
    

<form class="col-md-12" [formGroup]="form" autocomplete="off">   
    <div class="row">
    
      <mat-form-field class="col-12 ">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" name="title" #title  [required]="!form.get('title')?.value">
        <mat-hint *ngIf="form.errors?.['required']">Campo obligatorio *</mat-hint>
        <!-- {{form.errors?.['required'] | json}} -->
      </mat-form-field>  


      <mat-form-field class="col-12 ">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" name="description" #description  [required]="!form.get('description')?.value">
        <mat-hint *ngIf="form.errors?.['required']">Campo obligatorio *</mat-hint>
        <!-- {{form.errors?.['required'] | json}} -->
      </mat-form-field>  

      <div class="col-12 mt-2">  
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary m-1" (click)="save()" [disabled]="!form.valid">Guardar</button>

        </div>

        <!-- <button class="btn btn-success m-1" (click)="actualizar()" [disabled]="!form.valid">Actualizar</button> -->
      </div>
    </div>
</form>
</mat-dialog-content>

}
