<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="assets/imagenes/LOGOI.png" alt="navbar brand" class="navbar-brand" height="40" />
            </a>
            <div class="nav-toggle" (click)="toggleBottonSideBar()">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner" (mouseenter)="addClass()" 
    (mouseleave)="removeClass()">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">

                @for(menu of menus; track menu.idMenu){
                    <li class="nav-item {{menu.idMenu == idMenuSelected() ? 'active' : ''}}">
                        <a [routerLink]="menu.link" (click)="setNavigation(menu)">
                            <i class="{{menu.icon}}"></i>
                            <p>{{menu.label}}</p>
                            <!-- <span class="badge badge-secondary">1</span> -->
                        </a>
                    </li>

                }
                
                
                <!-- <li class="nav-item">
                    <a routerLink="/calendar">
                        <i class="far fa-calendar"></i>
                        <p>Calendario</p>
                        <span class="badge badge-secondary">1</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/usuarios">
                        <i class="fas fa-users"></i>
                        <p>Usuarios</p>
                        <span class="badge badge-success">4</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/holidays">
                        <i class="fas fa-calendar-check"></i>
                        <p>Días festivos </p>
                        <span class="badge badge-success">4</span>
                    </a>
                </li> -->
               
            </ul>
        </div>
    </div>
</div>